body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u8250 {
  position:absolute;
  left:1731px;
  top:15px;
  width:60px;
  height:40px;
  font-size:18px;
}
#u8251 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u8252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8252 {
  position:absolute;
  left:1605px;
  top:15px;
  width:88px;
  height:40px;
  font-size:18px;
}
#u8253 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u8254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8254 {
  position:absolute;
  left:200px;
  top:32px;
  width:269px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8255 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u8256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8257 {
  position:absolute;
  left:34px;
  top:116px;
  width:37px;
  height:20px;
}
#u8258 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:13px;
}
#u8259 {
  position:absolute;
  left:77px;
  top:120px;
  width:19px;
  height:13px;
}
#u8260 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:2px;
}
#u8261 {
  position:absolute;
  left:34px;
  top:136px;
  width:62px;
  height:1px;
}
#u8262 {
  position:absolute;
  left:2px;
  top:-8px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:960px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8263 {
  position:absolute;
  left:210px;
  top:16px;
  width:1600px;
  height:960px;
}
#u8264 {
  position:absolute;
  left:2px;
  top:472px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8265 {
  position:absolute;
  left:210px;
  top:20px;
  width:1600px;
  height:50px;
}
#u8266 {
  position:absolute;
  left:2px;
  top:17px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u8267 {
  position:absolute;
  left:1741px;
  top:25px;
  width:60px;
  height:40px;
  font-size:18px;
}
#u8268 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u8269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8269 {
  position:absolute;
  left:1615px;
  top:25px;
  width:88px;
  height:40px;
  font-size:18px;
}
#u8270 {
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u8271 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8272 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8273 {
  position:absolute;
  left:10px;
  top:10px;
  width:200px;
  height:970px;
}
#u8274 {
  position:absolute;
  left:2px;
  top:477px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8275 {
  position:absolute;
  left:10px;
  top:164px;
  width:200px;
  height:400px;
}
#u8275_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:406px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8276 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:405px;
}
#u8277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u8277 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u8278 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u8279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u8279 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u8280 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u8281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u8281 {
  position:absolute;
  left:0px;
  top:100px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u8282 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u8283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u8283 {
  position:absolute;
  left:0px;
  top:150px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8284 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u8285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u8285 {
  position:absolute;
  left:0px;
  top:200px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8286 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u8287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u8287 {
  position:absolute;
  left:0px;
  top:250px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8288 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u8289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u8289 {
  position:absolute;
  left:0px;
  top:300px;
  width:200px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8290 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u8291 {
  position:absolute;
  left:0px;
  top:350px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u8292 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8293 {
  position:absolute;
  left:200px;
  top:350px;
  width:200px;
  height:100px;
  visibility:hidden;
}
#u8293_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:106px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8294 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:105px;
}
#u8295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u8295 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u8296 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u8297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u8297 {
  position:absolute;
  left:0px;
  top:50px;
  width:200px;
  height:50px;
  font-size:18px;
}
#u8298 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u8299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:144px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8299 {
  position:absolute;
  left:10px;
  top:20px;
  width:200px;
  height:144px;
  font-size:18px;
}
#u8300 {
  position:absolute;
  left:2px;
  top:64px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u8301 {
  position:absolute;
  left:29px;
  top:50px;
  width:163px;
  height:20px;
  font-size:18px;
  text-align:center;
}
#u8302 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u8303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8303 {
  position:absolute;
  left:210px;
  top:42px;
  width:269px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8304 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u8305 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8306 {
  position:absolute;
  left:44px;
  top:126px;
  width:37px;
  height:20px;
}
#u8307 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:13px;
}
#u8308 {
  position:absolute;
  left:87px;
  top:130px;
  width:19px;
  height:13px;
}
#u8309 {
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:2px;
}
#u8310 {
  position:absolute;
  left:44px;
  top:146px;
  width:62px;
  height:1px;
}
#u8311 {
  position:absolute;
  left:2px;
  top:-8px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8312 {
  position:absolute;
  left:205px;
  top:63px;
  width:127px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8313 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u8314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8314 {
  position:absolute;
  left:332px;
  top:63px;
  width:127px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8315 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u8316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8316 {
  position:absolute;
  left:459px;
  top:63px;
  width:127px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8317 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u8318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8318 {
  position:absolute;
  left:205px;
  top:109px;
  width:1580px;
  height:112px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8319 {
  position:absolute;
  left:2px;
  top:48px;
  width:1576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8320 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8321 {
  position:absolute;
  left:300px;
  top:120px;
  width:127px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8322 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u8323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8323 {
  position:absolute;
  left:427px;
  top:120px;
  width:127px;
  height:42px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8324 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u8325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8325 {
  position:absolute;
  left:233px;
  top:131px;
  width:61px;
  height:20px;
}
#u8326 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8327 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8328 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8329 {
  position:absolute;
  left:594px;
  top:131px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8330 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8331 {
  position:absolute;
  left:658px;
  top:120px;
  width:214px;
  height:42px;
}
#u8331_input {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:42px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u8331_input:disabled {
  color:grayText;
}
#u8332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8332 {
  position:absolute;
  left:1477px;
  top:165px;
  width:140px;
  height:40px;
}
#u8333 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u8334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8334 {
  position:absolute;
  left:1627px;
  top:165px;
  width:140px;
  height:40px;
}
#u8335 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u8336 {
  position:absolute;
  left:214px;
  top:294px;
  width:1567px;
  height:496px;
}
#u8336_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1567px;
  height:496px;
}
#u8337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8337 {
  position:absolute;
  left:233px;
  top:172px;
  width:140px;
  height:40px;
}
#u8338 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
